@import '~bootstrap/scss/bootstrap';

header {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 1170px;
        margin: auto;
    }

    .nav-bar {
        display: flex;
        list-style: none;

        li {
            border-bottom: 3px solid white;
            padding: 0px 5px;

            &:hover {
                border-bottom: 3px solid #0c7cec;

                a {
                    color: #0c7cec;
                }
            }
        }

        a {
            color: black;
            text-decoration: none;
            line-height: 97px;
            font-weight: bold;
            font-size: 14px;
        }
    }

    img {
        height: 80px;
    }
}